<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <services>
      <register
        serviceType="Sitecore.Xdb.MarketingAutomation.Tracking.Providers.IAutomationActivityModelProvider, Sitecore.Xdb.MarketingAutomation.Tracking"
        implementationType="Sitecore.Support.Xdb.MarketingAutomation.Tracking.Providers.AutomationActivityModelProvider, Sitecore.Support.190794"
        lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>